* {
  font-family: ciscosanslight, arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* avoids alpine.js load blinking */
[x-cloak] { display: none !important; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

.clickable {
  cursor: pointer;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background-color: #a0509e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

header button:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1em;
  font-weight: normal;
}

#simulator, svg {
  width: 100%;
  height: 100%;
}

.fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0009;
}

.dialog {
  background: white;
  border-radius: 1em;
  padding: 2em;
}

form > div {
  margin-bottom: 1em;
}

form label {
  width: 8em;
  display: inline-block;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: inherit;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

form input, form button {
  border-radius: 5px;
  border: 0;
  padding: 5px;
}

form button {
  padding: 1em;
  background-color: #ddd;
}

form input {
  background: #eee;
}

.window {
  fill: white;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.flash {
  opacity: 1;
}

.eventlog {
  font-size: 12px;
  position: absolute;
  top: 4em;
  border-radius: 1em;;
  left: calc(50% - 300px);
  width: 600px;
  min-width: 300px;
  padding: 1em 2em;
  background-color: black;
  color: white;
  font-family: monospace;
  overflow-y: auto;
  max-height: 40vh;
  min-height: 4em;
  opacity: 0.9;
  resize: both;
  white-space: pre-wrap;
}

#connectorId {
  width: 3em;
}